@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #001e4d;
    min-height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #001e4d;
    text-align: center;
    margin-bottom: 20px;
}

.star-widget input {
    display: none;
}

.star-widget label {
    font-size: 30px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

form header {
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #333;
    border: 1px solid #333;
    background: #fff;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea textarea:focus {
    border-color: #444;
}

form .btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #001e4d;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover {
    background: #00285f;
}

footer.OneLove {
    color: #000000;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}